/* http://meyerweb.com/eric/tools/css/reset/*/
/* v2.0 | 20110126 -> Versão 2.0 do reset publicada em 26 de janeiro de 2011*/
/* License: none (public domain) -> Licença: nenhuma (domínio público), indicando que pode ser usada livremente*/
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {
  margin: 0; /*remove a margem padrão*/
  padding: 0; /*remove o preenchimento padrão*/
  border: 0; /*remove a borda padrão*/
  font-size: 100%; /*define o tamanho da fonte para 100% (o padrão do elemento pai)*/
  font: inherit; /*faz com que a propriedade font herde do elemento pai*/
  vertical-align: baseline; /*define o alinhamento vertical padrão para a linha de base*/
}
/*HTML5 display-role reset for older browsers*/
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; /*define o 'display' desses elementos HTML5 para block, garantindo que se comportem como elementos de bloco em navegadores mais antigos*/
}
body {
  line-height: 1; /*define a altura da linha padrão para 1 (sem espaçamento adicional)*/
}
ol, ul {
  list-style: none; /*remove os estilos de lista padrão (bolinhas ou números)*/
}
blockquote, q {
  quotes: none; /*remove as aspas padrão para elementos de citação*/
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: ''; /*remove qualquer conteúdo gerado automaticamente antes e depois das citações*/
  content: none; /*garante que nenhum conteúdo seja exibido*/
}
table {
  border-collapse: collapse; /*colapsa as bordas de células adjacentes em uma única borda*/
  border-spacing: 0; /*remove o espaçamento entre as células da tabela*/
}